
html, body {
    font-family: 'Roboto', sans-serif;
  }
  
  #app {
    height: 100vh;
    width: 100vw;
    color: white;
   
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}


img {
    max-width: 100%;
}

figure  {
    
    img {
        display: block;
        width: 100%;
    }
}